Incorrect JWT generated because Base64url  Encoding is not correct

Version 2.1.5 of jaguar_jwt generates incorrect JWTs, because it does not correctly implement the "Base64url Encoding" as required for a JWT. It simply uses base64 encoding without performing the other operations that are required:
- removing any trailing padding characters (the equal signs);
- replacing all "+" with "-"; and 
- replacing all "/" with "_".

That is, jaguar_jwt will generate a JWT something like `hhhh.pppppp+pppp/ppp==.sssssss=` when the correct JWT should have been a value that looks like `hhhh.pppppp-pppp_ppp.sssssss`.

**What the JWT specification says**

The JWT specification, [RFC 7519](https://tools.ietf.org/html/rfc7519#section-2), refers to the JWS specification for the definition of "Base64url Encoding". And the JWS specification, [RFC 7515](https://www.rfc-editor.org/rfc/rfc7515.txt), says:

```
Base64url Encoding
      Base64 encoding using the URL- and filename-safe character set
      defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
      characters omitted (as permitted by Section 3.2) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See Appendix C for notes on
      implementing base64url encoding without padding.)
```

The "filename-safe character set" it refers to uses "-" as the 62nd character and "_" as the 63rd character (not "+" and "/" as the normal "base64" encoding does).

**What is implemented in jaguar_jwt**

The jaguar_jwt `issueJwtHS256` method simply uses the base64 method, but does not do all those other things that RFC 7515's Appendix C indicates.

The jaguar_jwt `verifyJwtHS256Signature` method does correctly do those things (in the `_decodeBase64` method). Note: this happens to "succeed" on both correct JWTs as well as the incorrect JWTs, since the `_decodeBase64` does not add missing padding when the padding is (incorrectly) already present, and replacing "-" and "_" doesn't do anything if those positions already (incorrectly) had them as "+" and "/".

This bug would not immediately show itself, since the incorrect JWT may be accepted by third party receivers (if they simply implement the algorithm in Appendix C without additional checking) in the same way that jaguar_jwt's verify method accepts both correct and incorrect JWTs.

I'm currently preparing a pull request, and can include this fix in it. The current unit tests will also need to be fixed, since they contain the incorrect JWTs. This should not break anything, unless something incorrectly _relies_ on having incorrect JWTs!

Awesome! Looking forward to the PR!

Fixed by https://github.com/Jaguar-dart/session/pull/6